{% extends 'base.html'%}

{% block content %}
<div class="why">
  <h2>HOW ARE WE DIFFERENT</h2>
</div>
<br>

<div class="container">
  <div class="box">
    <div class="imgbox">
      <img src="/static/pro.jpg" alt="sorry no image found">
    </div>
    <div class="text">
      <div class="content">
        <h2>Directly From Farm to Your Home</<h2>
      </div>
    </div>
  </div>
  <div class="box"><div class="imgbox">
    <img src="/static/del1.jpg" alt="sorry no image found">
  </div>
  <div class="text">
    <div class="content">
      <h2>Free Home Delivery Within 8Hrs of Milking</<h2>
    </div>
  </div>
  </div>
  <div class="box"><div class="imgbox">
    <img src="/static/bott1.jpg" alt="sorry no image found">
  </div>
  <div class="text">
    <div class="content">
      <h2>Packed in Eco-Friendly Glass Bottles</<h2>
    </div>
  </div>
  </div>
</div>
<br>

<div class="whyus">
  <h1>WHY US?</h1>
  <ul>
    <li>Trishul farms milk will be delivered to your doorstep within 8hrs of milking, this keeps the milk Fresh and Pure.</li>
    <li>Trishul farms milk do not undergo any processes like pasteurisation and homogenisation, this keeps the nutrients right.</li>
    <li>Trishul farms milk is 100% pure as we don't add any preservatives and is 100% unadulterated.</li>
    <li>Trishul farms deliver milk in ECO-Friendly glass bottles, this keeps the harmful chemicals away from the milk.</li>
    <li>By accepting the milk in glass bottles you help in reducing the use of Plastic and save our Planet</li>
  </ul>
</div>





{% endblock %}
